@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.create_user {
    padding-top: 120px;

    padding-left: 315px;

    color: 6px solid #132f57;

}
.create_user .box {


        width: 70%;
        height:28rem;
        background-color:rgb(255, 255, 255);
        border:2px solid rgb(255, 255, 255);
        padding: 20px 20px;
        border-radius: 2rem;
		margin-top: 10px;
        padding-left: 20px;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}
.create_user .box .fname{
    padding-bottom: 30px;
margin-left: 10px;
}




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inria Sans' , sans-serif;
}
body{

    background: #f3f5f9;

}
.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 150px;
    height:100%;
    background:#132f57;
	margin-top: 7%;
	padding: 30px 0px;
	filter:drop-shadow(0px 4px 4px #000000);
}
.wrapper .wrapperImg{
	display: flex;
	padding: 10px;
	justify-content: center;
   width: 9.4rem;
   align-items: center;
   z-index: 99999;
   height: 7rem;
    position: fixed;
	 background-color: #132f57;

  }
.wrapper .sidebar img{
    margin-left: 30px;
    margin-bottom: 80px;
}
.wrapper .sidebar h2{
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}
.wrapper .sidebar h2:hover{
    font-weight: bold;
    color: #fff;
}
.wrapper .sidebar ul li{
    position: relative;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 40px 10px;
    text-align: center;
    font-size:14px;

}
.wrapper .sidebar ul li i{
	left: -1px;
	top: 34px;
	position: absolute;
}
.wrapper .sidebar ul li a{
    color: white;
    display: block;
    font-weight: 500;
}

.sidebar{
	height: 100px;
	overflow-y: scroll;

}
.sidebar::-webkit-scrollbar{
	display: none;
}

.wrapper .sidebar ul li :hover{
    font-weight: bold;
}
.wrapper .sidebar ul li a:hover{
    color: #fff;
}
.dropdown{
	min-width: 20px;
	position: relative;
}

.main-content{
width: 100%;
min-height: 100vh;
position: relative;
}
.header {
	background-color: #fff;
	width: 90%;
	position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 136px;
    position: fixed;
    height: 110px;
    border-bottom: 2px black;
    filter: drop-shadow(0px -1px 5px #3b3b3b);
}

.header img{
    width: 265px;
    height: 65px;
    padding-left: 20px;

}
.nav-ul{
	height: 70px;
	width: 20%;
	display: flex;
	align-items: center;
	margin-left: 30%;

}
.nav-list{
	padding: 8px 12px;
}
.nav-ul li{
	margin-bottom: 5px;
}
.border{
width: 1px;
height: 80px;
background-color: rgba(0, 0, 0, 0.3);
}

.profile{

	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 150px;
    border-radius: 50%;
	}

.profile-dropdown{
		min-width: 20px;
		position: relative;
		left: -46px;

}
	.nav-menu{
    text-align: center;
	list-style: none;
	padding: 0.2em 0.5em;
	background: #ffffff;
	border: none;
    border-radius: 0.2em;
    position: absolute;
	top: 5.6rem;
	left: 4.5rem;
	width: 200px;
	transform: translateX(-50%);
	opacity: 0;
	display: none;
	transition: 0.5s ease-in-out;
    z-index: 1;
}


.nav-menu li{

	border-radius: 0.2em;
	color: rgb(0, 0, 0);
	padding: 0.7em 0.5em;
	margin: 0.3em 0;
    cursor: pointer;
	transition: 0.5s ease-in-out;


}
.nav-menu.menu-open li:hover{
	padding: 0.7em 0.5em;
    background: #afafafb3;


}
.nav-menu.menu-open{
	opacity: 1;
    pointer-events: auto;
}

.menu-open{

	display: block;
	opacity: 1;
}
.tail{
	position: absolute;
    left: 50%;
     top: -8%;
    transform: rotate(180deg);
	width: 10px;
	height: 10px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #132f57;
	transition: 0.3s;
}
.border{
	width: 1.5px;
	height: 80px;

	background-color: rgba(0, 0, 0, 0.3);
}
.sidebar-border {
		margin-left: 30px;
		background-color: #ffffff98;
		width: 90px;
		height: 0.8px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

.sid #id{
    padding-top:100px ;
    margin-left: 60px;
    background-color: #f1f1f1;
    box-shadow: inset 0 0.4em 0.6em rgb(127 127 127 / 27%);
    border: none;
    width: 65.4%;
    height: 1.9rem;
    padding: 10px 15px;
    font-size: large;
}
.sname #name{
    padding-top: 30px;
    margin-left: 1.9rem;
    background-color: #f1f1f1;
    box-shadow: inset 0 0.4em 0.6em rgb(127 127 127 / 27%);
    border: none;
    width: 65.4%;
    height: 1.9rem;
    padding: 10px 15px;
    font-size: large;
}
.dept #id{
    padding-top: 30px;
    margin-left: 1.6rem;
    background-color: #f1f1f1;
    box-shadow: inset 0 0.4em 0.6em rgb(127 127 127 / 27%);
    border: none;
    width: 65.4%;
    height: 1.9rem;
    padding: 10px 15px;
    font-size: large;
}
.fac #id{
    padding-top: 30px;
    margin-left: 3.9rem;
    background-color: #f1f1f1;
    box-shadow: inset 0 0.4em 0.6em rgb(127 127 127 / 27%);
    border: none;
    width: 65.4%;
    height: 1.9rem;
    padding: 10px 15px;
    font-size: large;
}
.desi #id{
    padding-top: 30px;
    margin-left: 1.6rem;
    background-color: #f1f1f1;
    box-shadow: inset 0 0.4em 0.6em rgb(127 127 127 / 27%);
    border: none;
    width: 65.4%;
    height: 1.9rem;
    padding: 10px 15px;
    font-size: large;
}
.mobile #id{
    padding-top: 30px;
    margin-left: 2.4rem;
    background-color: #f1f1f1;
    box-shadow: inset 0 0.4em 0.6em rgb(127 127 127 / 27%);
    border: none;
    width: 65.4%;
    height: 1.9rem;
    padding: 10px 15px;
    font-size: large;
}
.email #id{
    padding-top: 30px;
    margin-left: 4.8rem;
    background-color: #f1f1f1;
    box-shadow: inset 0 0.4em 0.6em rgb(127 127 127 / 27%);
    border: none;
    width: 65.4%;
    height: 1.9rem;
    padding: 10px 15px;
    font-size: large;
}
.sid{
    margin-left: 10px;
 padding-top: 20px;
}
.sname{
    padding-top: 20px;
    margin-left: 10px;

}
.email{
    margin-left: 10px;
 padding-top: 20px;
}
.mobile{
    margin-left: 10px;
 padding-top: 20px;
}
.desi{
    margin-left: 10px;
 padding-top: 20px;
}
.fac{
    margin-left: 10px;
 padding-top: 20px;
}
.dept{
    margin-left: 10px;
 padding-top: 20px;
}
.create_user form{
    padding-top: 60px;
    padding-left: 150px;
}
.create_user .box .btn{
	background-color: #132f57;
    width:110px;
    height: 35px;
    border-radius: 4px;
    box-shadow: 0 0.2em 0.5em rgba(19, 16, 16, 0.2);
    border: none;
	float: right;
	padding: 4px 40px;
	margin-right: 5.6rem;
	margin-top: 1rem;
}
.create_user .box .btn a{
	color:#fff;
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
}
.create_user .box .btn:hover{
	background-color: #d9d9d9;
    cursor: pointer;
}
.create_user .box .btn a:hover{
	color: black;
}

.create_user h2{
    font-weight: bold;
    font-size: large;
}
.sidebar.block{
	display: block;
}
.rotate{
	transition: all 0.5s;
	transform: rotate(360deg);
	z-index: 9;
}
.toggler{
	display: flex;

	align-items: center;
}
@media only screen and (max-width: 858px) {
	.wrapper .sidebar ul li {

		padding: 12px 9px;

	}
    .create_user form {

        padding-left: 15%;
    }
	.create_user .box {
		width: 85%;
		height: 28rem;
	}

	.wrapper .sidebar {

        margin-top: 97px;
    }

	.wrapper .sidebar {

		width: 117px;

	}
	.sidebar-border {
		margin-left: 13px;
	}
	.toggler{
padding: 1rem;
		background-color: #ffffff;
		height: 110px;
		z-index: 10;
		filter: drop-shadow(-12px -1px 5px #3b3b3b);
		transition: all 0.5s;
position: fixed;
	}
	.sidebar{
		display: none;
		overflow-y: scroll;
		transition: all 0.5s;
	}

	.header{
		margin-left: 0;
		width: 100%;

	}

	.header img{
		width: 255px;
		height: 55px;
		margin-left: 30px;
	}

	.nav-list{
		padding: 8px 12px;
		font-size: 13px;
	}

    .nav-ul {
        margin-left: 6%;
    }

    .border{
        height: 66px;
    }

	.nav-menu{
		width: 150px;
		height: 180px;
		font-size: 1rem;
	}

	.wrapper .wrapperImg {
		display: none;}

	}

@media only screen and (max-width: 668px){
	.sid #id {

		margin-left: 0px;

		width: 95%;}
		.sname #name{
			margin-left: 0px;
			width: 95%;
		}
		.dept #id{
			margin-left: 0px;
			width: 95%;
		}
.fac #id{
	margin-left: 0px;
			width: 95%;
}
.desi #id{
	margin-left: 0px;
			width: 95%;
}
.mobile #id{
	margin-left: 0px;
			width: 95%;
}
.email #id{
	margin-left: 0px;
			width: 95%;
}

	.create_user .box {

        width:100%;
        height: 38rem;
    }
	.sidebar-border {
		margin-left: 13px;
	}
    .header img{
        width: 225px;
        height: 60px;
    }
    .profile{
        position: sticky;
        margin-left: 0px;
		right: 5px;

    }
    .nav-ul{
        display: none;
    }
	.wrapper .sidebar {

		width: 117px;

	}
}

@media only screen and (max-width: 480px) {
	.sidebar-border {
		margin-left: 13px;
	}
	.header img {
        width: 134px;
        height: 43px;
    }

	.profile{
		right: 0px;
	}

	.nav-menu{
		width: 120px;
		height: 140px;
		font-size: 0.8rem;
	}
	.wrapper .sidebar {

		width: 117px;

	}


}
@media only screen and (max-width: 1200px) {
	.create_user {

		padding-left: 25%;
	}

    .create_user form {
        padding-top: 60px;
        padding-left: 58px;
    }
	.create_user .box .btn{
		margin-right: 1.6rem;
	}
}