<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page 2</title>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="style_clg.css" rel="stylesheet">
</head>
<body>
<header>
    <img  src="logo-navbar.png">
    <h2></h2> 
        <nav class="navigation">
        </nav>
</header>
    <div class="wrapper">
        <form method="post" action="/data">
            <h1>Login</h1>
            <div class="input-box">
                <label>Username</label>
                <input type="text" placeholder="Enter Your Username" name="username">
                <i class='bx bxs-user'></i>
                    
            </div>
            <div class="password">
                <label>Password</label>
                <input type="password"  placeholder="Enter Your Password" name="password">
                <i class='bx bxs-lock'></i>
                    
            </div>
            <div class="btn">
            <button type="submit" class="btn">Login</button>
        </div>
        
            <div class="Admin">
                <p>Are you <a href="/logadmin" class="Admin-link">Admin?</a></p>
            </div>
        </form>
    </div>
    <footer>
        <div class="foot">
        <h3>&copy; All  Right Reserved by Student Software Development Cell</h3>
        
        </div>
        <div class="Right">
            <a href="https://miifoundation.com/">@miifoundation.com</a>
        </div>
    </footer>
</body>
</html>